[Desktop Entry]
Categories=
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/KuGou/KuGou
Icon=/media/sonichy/job/HY/Linux/Qt/KuGou/icon.svg
MimeType=
Name=酷狗
Path=/media/sonichy/job/HY/Linux/Qt/KuGou
Terminal=false
Type=Application

